{% load static %}

<html lang="en" dir="rtl">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Proforma Invoice</title>
    <style>
        @font-face {
            font-family: MarkaziText, "MarkaziText Font";
            src: url("{% static 'fonts/MarkaziText-Bold.ttf' %}");
        }

        h1 {
            font-family: MarkaziText, Arial, sans-serif;
        }

        body {
            font-weight: 200;
            font-size: 14px;
            font-family: MarkaziText;
        }
    </style>
</head>


<body>
    <pdf:language name="persian" />
    <div class="container">
        <h1>کارتن افزار</h1>
        <hr>
        <div class="row">
            <div class="col-md-8">
                <p>عربی</p>
                <h4>اطلاعات فروشنده</h4>
                <p>
                    سامانه راهکار جامع<br>
                    جنت آباد مرکزی<br>
                    تهران<br>
                    ایران
                </p>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">ردیف</th>
                    <th scope="col">نام تماس گیرنده</th>
                    <th scope="col">ایمیل</th>
                    <th scope="col">متن پیام</th>
                </tr>
            </thead>
            <tbody>
                {% for sitemessage in sitemessages %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{sitemessage.name}}</td>
                    <td>{{sitemessage.email}}</td>
                    <td>{{sitemessage.message}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>تعداد</td>
                    <td>{{total.msg_count}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>