{% extends 'tss/base.html' %}

{% load static %}

{% block title %} Welcome To CartonAfzar {% endblock %}

{% block content %}



<div class="page-loader"></div>
<header id="home" class="full-height bg-img" data-src="{% static 'images/bg/cartonbackground.jpg' %}">
    <div class="container ">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <div class="header-content">
                    <div class="header-content-inner">
                        <div class="secton-title">
                            <main class="py-8 px-10 ">

                                <body class="login-page">
                                    <main>
                                        <div class="login-block">
                                            <div style="text-align: center;">
                                                <img class="img-responsive"
                                                    style="display: block; margin-left: auto; margin-right: auto;"
                                                    src="{% static 'images/logo-theme.png' %}" alt="Logo">
                                            </div>

                                            <h1 class="primary-color">به حساب کاربری خود وارد شوید</h1>

                                            <form method="post" action="." autocomplete="off">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i
                                                                class="fa fa-user ti-user"></i></span>
                                                        <input name="username" type="text" class="form-control"
                                                            placeholder="نام کاربری" autocomplete="off">
                                                    </div>
                                                </div>

                                                <!--<hr class="hr-xs">-->

                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i
                                                                class="fa fa-lock ti-unlock"></i></span>
                                                        <input name="password" type="password" class="form-control"
                                                            placeholder="رمز عبور" autocomplete="off">
                                                    </div>
                                                </div>

                                                <button class="btn btn-block bg-purple" type="submit">ورود</button>
                                                <!--


                    <div class="login-footer">
                        <h6>Or register with</h6>
                        <ul class="social-icons">
                            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
-->
                                            </form>
                                            <div class="login-links">
                                                <p class="text-center">نام کاربری ندارید؟ <a class="txt-brand"
                                                        href="{% url 'account:signup' %}"">ثبت نام</a>
                                                </p>
                                            </div>

                                        </div>


                                    </main>
                        </div>
                        </body>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}